/* https://css-tricks.com/creating-your-own-gravity-and-space-simulator/ */

body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #cedce7 0%, #596a72 100%);
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
}

#controls-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 10px;
}

#controls-wrapper > select,
button {
  background-color: #000;
  color: #fff;
  border: 1px solid #545454;
}

#mass-multiplier {
  max-width: 80px;
}

#reset-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#help-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
